@use '../styles/reset';
@use '../styles/variables' as *;

body {
  font-family: $font-family;
  background: $bg-primary;
  color: $text-primary;
  overflow-x: hidden;
}

::selection {
  background: $accent;
  color: $text-primary;
}
